@font-face {
  font-family: cocogoose;
  src: url(fonts/Cocogoose-font.otf);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
}

p {
  line-height: 1.5rem;
}

.menu-content {
  display: none;
}

.top-section {
  background-color: #3e3e3e;
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 95%;
}

.nav {
  position: absolute;
  top: 1rem;
  cursor: pointer;
  left: 1rem;
}

.cancel {
  display: none;
  cursor: pointer;
  z-index: 10;
}

.cancel p {
  font-size: 3.2rem;
  position: absolute;
  margin: 0;
  top: 1.3rem;
  left: 1.3rem;
  color: black;
  z-index: 100;
}

.logo-DT a {
  display: none;
  position: absolute;
  top: 1.3rem;
  right: 1.5rem;
  text-decoration: none;
  color: black;
}

.menu-list {
  width: 100%;
  display: none;
  height: 100vh;
  background-color: rgba(234, 234, 234, 0.9);
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  border-right: 4px outset #ec5242;
  border-bottom: 2px outset #ec5242;
}

.open {
  height: 100vh;
}

.items {
  padding: 0;
  margin-top: 8rem;
}

.items li {
  display: block;
  text-align: center;
  padding: 1.5rem 0;
}

.icon {
  width: 30px;
  height: 5px;
  margin: 5px 0;
  background-color: #272a31;
}

.home a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

.company {
  display: none;
}

.company a {
  text-decoration: none;
  color: black;
}

.footer-logo a {
  color: #000;
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
}

.links a:hover {
  color: #ec5242;
  background-color: #f7f7f8;
}

.home a:hover {
  color: #ec5242;
  border-bottom: 1px solid #ec5242;
  background-color: #f7f7f8;
  font-size: 1.2rem;
  padding-inline: 11%;
  padding-block: 5%;
}

.fa-bars {
  font-size: 2rem;
}

.first-section {
  background: url(img/first-section.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.first-section-container {
  width: 92.5%;
  padding-top: 7rem;
  margin-inline: auto;
  min-height: 326.85px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open-heading {
  font-family: "cocogoose", sans-serif;
  font-size: 2.8rem;
  color: #ec5242;
  margin: 0;
  text-align: center;
}

.first-section-para {
  padding: 3%;
  background-color: #f7f7f8;
  text-align: center;
  border: 3px solid white;
  margin-top: 5%;
  width: 80%;
  font-size: 1.1rem;
}

.events {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.flex-content h2 {
  text-align: center;
}

.flex-past h2 {
  text-align: center;
}

.events .event {
  display: flex;
  align-items: center;
  align-content: center;
  background-position: center;
  background-color: #ec5242;
  background-blend-mode: multiply;
  flex-flow: column;
  flex-basis: 210px;
  flex-grow: 1;
  text-align: center;
  color: #fafafa;
  padding: 80px 0;
  gap: 20px;
  max-height: 100px;
  background-size: cover;
}

.events .event:nth-child(1) {
  background-image: url(./img/car3.jpg);
}

.events .event:nth-child(2) {
  background-image: url(./img/carshow.jpg);
  background-color: #ec5242;
}

.paragraph2 {
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  font-weight: normal;
  font-family: "cocogoose", "lato", sans-serif;
  text-shadow: 0 0 2px #000;
  width: 100%;
  margin: 0;
}

.events .event h2 {
  justify-content: center;
  display: flex;
  width: 100%;
  margin: 0;
  font-size: 1.9rem;
}

.event-details {
  text-align: center;
  width: 75%;
  font-size: 0.93rem;
  color: #fff;
}

.flex-content {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.flex-content p {
  text-align: center;
}

.plane {
  width: auto;
  height: 45px;
  margin-left: -50%;
}

.flex-content .plane {
  align-self: center;
  height: 70px;
  margin: 0;
  padding: 15px 30px;
  border: 1px solid #d3d3d3;
}

hr {
  width: 10%;
  margin-inline: auto;
  border: none;
  height: 3px;
  background: #ec5242;
}

.logo-container {
  width: 80%;
  margin: auto;
}

.logo-container img {
  margin: auto;
  display: block;
  transform: scale(1.3);
  width: 29%;
}

.horizontal-line {
  width: 100%;
  margin-inline: auto;
  border: none;
  height: 2px;
  background: #d3d3d3;
  margin-top: 10%;
}

.flex-past p {
  text-align: center;
}

.flex-past img {
  width: 80%;
  height: auto;
  display: block;
  margin-inline: auto;
  margin-block: 10%;
  cursor: pointer;
}

.partners-section {
  background-color: #3f444f;
}

.partners-heading {
  text-align: center;
  color: #fff;
  padding-top: 10%;
}

.partners-list img {
  filter:
    invert(100%) sepia(0%) saturate(0%) hue-rotate(311deg)
    brightness(102%) contrast(105%);
}

.partners-flex {
  width: 90%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partner-list {
  width: 100%;
}

.partner-image {
  width: 105px;
  height: 100px;
}

footer {
  min-height: 5rem;
  background-color: #fff;
}

.footer-flex {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.RIGHTS-Reserved {
  font-size: 1rem;
  margin: 25px;
  color: #000;
}

.desktop-para {
  display: none;
}

@media only screen and (min-width: 768px) {
  .pics {
    display: flex;
  }

  .nav {
    display: none;
  }

  p {
    line-height: 1.3rem;
  }

  hr {
    width: 5%;
  }

  .top-section {
    display: block;
    position: relative;
  }

  .bar-container {
    width: 85%;
    margin: auto;
  }

  .bars {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin-block: 0;
    padding-left: 0;
  }

  .bars li {
    color: white;
    font-size: 0.7rem;
    padding-inline: 0.8%;
    cursor: pointer;
  }

  header {
    background-color: #fff;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    margin: 0 auto;
    position: unset;
  }

  .logo-DT a {
    position: unset;
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: #ec5242;
  }

  .logo-DT {
    cursor: pointer;
    width: auto;
  }

  .home a {
    display: none;
  }

  .links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    margin-right: 2rem;
  }

  .company a {
    text-decoration: none;
    border: 2px solid #ec5242;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ec5242;
    letter-spacing: 2px;
    padding-inline: 0.2rem;
    padding-block: 0.2rem;
    white-space: nowrap;
  }

  .footer-logo a {
    color: white;
  }

  .logo-DT a:hover {
    color: #ec5242;
    font-size: 2.2rem;
  }

  .cancel {
    cursor: pointer;
    z-index: 10;
  }

  .cancel p {
    font-size: 3.2rem;
    position: absolute;
    margin: 0;
    top: 1.3rem;
    left: 1.3rem;
    color: black;
    z-index: 100;
  }

  .menu-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: unset;
    border: none;
    position: unset;
    background-color: #fff;
    width: 164%;
  }

  .items {
    margin-block: 0;
  }

  .items li {
    display: inline-block;
    padding: 0;
  }

  .company {
    display: block;
    margin-top: 4px;
  }

  .web-image img {
    display: none;
  }

  .links a:hover {
    color: #ec5242;
    background-color: #f7f7f8;
    transition: 0.6s;
  }

  .links {
    flex-grow: 1;
  }

  .company a:hover {
    border-color: black;
  }

  .open-heading {
    width: 50%;
    font-size: 3.2rem;
  }

  .first-section-para {
    width: 60%;
    margin-top: 2%;
    padding: 1.8%;
    margin-bottom: 2%;
  }

  .email-address {
    font-weight: bolder;
  }

  .mobile-para {
    display: none;
  }

  .desktop-para {
    display: block;
    width: 70%;
    margin-inline: auto;
    margin-block: 3%;
  }

  .logo-container {
    width: 30%;
    background-color: rgb(211, 211, 211, 0.1);
  }

  .logo-container img {
    margin: auto;
    display: block;
  }

  .horizontal-line {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .flex-past {
    width: 80%;
    margin-inline: auto;
  }

  .flex-past h2 {
    font-size: 2.4rem;
  }

  .flex-past p {
    font-size: 1.3rem;
  }

  .flex-past img {
    display: inline;
    width: 45%;
    margin-inline: 2.4%;
    margin-block: 5%;
  }

  .partners-section {
    display: none;
    width: 100%;
  }

  .partners-heading {
    padding-top: 3%;
    margin-bottom: 1%;
  }

  .partners-flex {
    margin-top: 4%;
    width: 75%;
  }

  .partners-list {
    margin-bottom: 3%;
  }

  .partners-image {
    mix-blend-mode: exclusion;
  }

  footer {
    background-color: rgb(0, 0, 0, 0.8);
  }

  .footer-flex {
    justify-content: space-evenly;
  }

  .RIGHTS-Reserved {
    color: white;
  }

  .icon {
    width: 30px;
    height: 5px;
    margin: 5px 0;
    background-color: #f7f7f8;
  }
}
